<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="FollowTarget:FollowDropLink" type="JonathanRobbins.FollowTarget.LinkTypes.FollowDropLink,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowDroptree" type="JonathanRobbins.FollowTarget.LinkTypes.FollowDroptree,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowDroplist" type="JonathanRobbins.FollowTarget.ListTypes.FollowDroplist,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowGroupedDroplink" type="JonathanRobbins.FollowTarget.ListTypes.FollowGroupedDroplink,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowGroupedDroplist" type="JonathanRobbins.FollowTarget.ListTypes.FollowGroupedDroplist,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowMultilist" type="JonathanRobbins.FollowTarget.ListTypes.FollowMultilist,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowTreelist" type="JonathanRobbins.FollowTarget.ListTypes.FollowTreelist,JonathanRobbins.FollowTarget"/>
      <command name="FollowTarget:FollowDeprecatedTreelist" type="JonathanRobbins.FollowTarget.DeprecatedTypes.FollowTreelist,JonathanRobbins.FollowTarget"/>
    </commands>
  </sitecore>
</configuration>